[submodule "vendor/frontier"]
	path = vendor/frontier
	url = https://github.com/PlasmNetwork/frontier.git

[submodule "vendor/faucet_pallet"]
	path = vendor/faucet_pallet
	url = https://github.com/realtakahashi/faucet_pallet.git
