[package]
authors = ['Takumi Yamashita <takumi@staked.co.jp>']
build = 'build.rs'
edition = '2018'
name = 'plasm'
version = '0.4.9'

[dependencies]
cli = { package = "plasm-cli", path = "node/cli" }
futures = "0.1"
ctrlc = { version = "3.0", features = ["termination"] }

[build-dependencies]
vergen = '3'
[profile.release]
panic = 'unwind'

[[bin]]
name = 'plasm-node'
path = "node/src/main.rs"

[workspace]
members = [
	"node/cli",
	"node/executor",
	"node/primitives",
	"node/rpc",
	"node/rpc-client",
	"node/runtime",
	"node/testing",
	"contracts/balances",
	"contracts/balances/.ink/abi_gen",
	"contracts/cash",
	"contracts/cash/.ink/abi_gen",
	"contracts/commitment",
	"contracts/deposit",
	"contracts/predicate",
	"contracts/primitives",
]

exclude = [
	"contracts/balances/.ink",
	"contracts/cash/.ink",
	"contracts/commitment/.ink",
	"contracts/deposit/.ink",
	"contracts/predicate/.ink",
	"contracts/primitives/.ink",
]
