[workspace]
members = [
    "bin/node/cli",
    "bin/node/executor",
    "bin/node/primitives",
    "bin/node/rpc",
    "bin/node/runtime",
    "bin/node/subkey",
    "frame/operator",
    "frame/plasm-staking",
]

exclude = [
    "contracts/balances/.ink",
    "contracts/cash/.ink",
]

[profile.release]
# Plasm runtime requires unwinding.
panic = "unwind"
