[workspace]
members = [
    "bin/node/cli",
    "bin/node/rpc",
    "bin/node/runtime",
    "bin/node/primitives",
    "frame/plasm-rewards",
    "frame/plasm-support",
    "frame/plasm-validator",
    "frame/custom-signatures",
]

exclude = [
    "contracts",
    "vendor",
]

[profile.release]
# Plasm runtime requires unwinding.
panic = "unwind"
