[workspace]
members = [
	"node/cli",
	"node/executor",
	"node/primitives",
	"node/rpc",
	"node/runtime",
	"contracts/balances",
	"contracts/balances/.ink/abi_gen",
	"contracts/cash",
	"contracts/cash/.ink/abi_gen",
	"contracts/commitment",
	"contracts/deposit",
	"contracts/predicate",
	"contracts/primitives",
	"srml/operator",
]

exclude = [
	"contracts/balances/.ink",
	"contracts/cash/.ink",
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
