[package]
name = "local-runtime"
version = "5.43.0"
build = "build.rs"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
log = { workspace = true, optional = true }
num_enum = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
smallvec = { workspace = true }

fp-rpc = { workspace = true }
fp-self-contained = { workspace = true }
frame-executive = { workspace = true }
frame-metadata-hash-extension = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-assets = { workspace = true }
pallet-aura = { workspace = true }
pallet-balances = { workspace = true }
pallet-collective = { workspace = true }
pallet-contracts = { workspace = true }
pallet-democracy = { workspace = true }
pallet-ethereum = { workspace = true }
pallet-ethereum-checked = { workspace = true }
pallet-evm = { workspace = true }
pallet-evm-precompile-blake2 = { workspace = true }
pallet-evm-precompile-bn128 = { workspace = true }
pallet-evm-precompile-dispatch = { workspace = true }
pallet-evm-precompile-ed25519 = { workspace = true }
pallet-evm-precompile-modexp = { workspace = true }
pallet-evm-precompile-sha3fips = { workspace = true }
pallet-evm-precompile-simple = { workspace = true }
pallet-grandpa = { workspace = true }
pallet-insecure-randomness-collective-flip = { workspace = true }
pallet-membership = { workspace = true }
pallet-preimage = { workspace = true }
pallet-proxy = { workspace = true }
pallet-scheduler = { workspace = true }
pallet-sudo = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-treasury = { workspace = true }
pallet-utility = { workspace = true }
pallet-vesting = { workspace = true }
sp-api = { workspace = true }
sp-arithmetic = { workspace = true }
sp-block-builder = { workspace = true }
sp-consensus-aura = { workspace = true }
sp-core = { workspace = true }
sp-genesis-builder = { workspace = true }
sp-inherents = { workspace = true }
sp-io = { workspace = true }
sp-offchain = { workspace = true }
sp-runtime = { workspace = true }
sp-session = { workspace = true }
sp-std = { workspace = true }
sp-transaction-pool = { workspace = true }
sp-version = { workspace = true }

# Used for the node template's RPCs
frame-system-rpc-runtime-api = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }

# Astar pallets
astar-primitives = { workspace = true }
pallet-chain-extension-unified-accounts = { workspace = true }
pallet-collective-proxy = { workspace = true }
pallet-dapp-staking-v3 = { workspace = true }
pallet-dynamic-evm-base-fee = { workspace = true }
pallet-evm-precompile-assets-erc20 = { workspace = true }
pallet-evm-precompile-dapp-staking-v3 = { workspace = true }
pallet-evm-precompile-dispatch-lockdrop = { workspace = true }
pallet-evm-precompile-sr25519 = { workspace = true }
pallet-evm-precompile-substrate-ecdsa = { workspace = true }
pallet-evm-precompile-unified-accounts = { workspace = true }
pallet-inflation = { workspace = true }
pallet-static-price-provider = { workspace = true }
pallet-unified-accounts = { workspace = true }

dapp-staking-v3-runtime-api = { workspace = true }

precompile-utils = { workspace = true }

# Moonbeam tracing
moonbeam-evm-tracer = { workspace = true, optional = true }
moonbeam-rpc-primitives-debug = { workspace = true, optional = true }
moonbeam-rpc-primitives-txpool = { workspace = true, optional = true }

# chain-extensions
pallet-chain-extension-assets = { workspace = true }

# benchmarking
array-bytes = { workspace = true }
frame-benchmarking = { workspace = true, optional = true }
frame-system-benchmarking = { workspace = true, optional = true }

# try-runtime
frame-try-runtime = { workspace = true, optional = true }

[build-dependencies]
substrate-wasm-builder = { workspace = true, optional = true }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"fp-rpc/std",
	"fp-self-contained/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-rpc-runtime-api/std",
	"pallet-collective-proxy/std",
	"frame-system/std",
	"pallet-assets/std",
	"pallet-aura/std",
	"pallet-membership/std",
	"pallet-balances/std",
	"pallet-contracts/std",
	"pallet-chain-extension-unified-accounts/std",
	"pallet-dapp-staking-v3/std",
	"dapp-staking-v3-runtime-api/std",
	"pallet-inflation/std",
	"pallet-static-price-provider/std",
	"pallet-dynamic-evm-base-fee/std",
	"pallet-ethereum/std",
	"pallet-evm/std",
	"sp-genesis-builder/std",
	"pallet-evm-precompile-blake2/std",
	"pallet-evm-precompile-simple/std",
	"pallet-evm-precompile-bn128/std",
	"pallet-evm-precompile-dispatch/std",
	"pallet-evm-precompile-ed25519/std",
	"pallet-evm-precompile-modexp/std",
	"pallet-evm-precompile-sha3fips/std",
	"pallet-evm-precompile-dapp-staking-v3/std",
	"pallet-evm-precompile-sr25519/std",
	"pallet-evm-precompile-substrate-ecdsa/std",
	"pallet-evm-precompile-unified-accounts/std",
	"pallet-evm-precompile-dispatch-lockdrop/std",
	"pallet-grandpa/std",
	"pallet-insecure-randomness-collective-flip/std",
	"pallet-preimage/std",
	"pallet-collective/std",
	"pallet-democracy/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"pallet-treasury/std",
	"pallet-utility/std",
	"pallet-vesting/std",
	"pallet-proxy/std",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-arithmetic/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"sp-io/std",
	"frame-benchmarking/std",
	"frame-try-runtime/std",
	"frame-metadata-hash-extension/std",
	"pallet-scheduler/std",
	"pallet-unified-accounts/std",
	"pallet-ethereum-checked/std",
	"moonbeam-evm-tracer/std",
	"moonbeam-rpc-primitives-debug/std",
	"moonbeam-rpc-primitives-txpool/std",
	"substrate-wasm-builder",
	"pallet-chain-extension-assets/std",
	"astar-primitives/std",
	"frame-system-benchmarking?/std",
	"log?/std",
	"num_enum/std",
	"pallet-evm-precompile-assets-erc20/std",
	"precompile-utils/std",
	"scale-info/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"pallet-collective-proxy/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-treasury/runtime-benchmarks",
	"pallet-ethereum/runtime-benchmarks",
	"pallet-preimage/runtime-benchmarks",
	"pallet-democracy/runtime-benchmarks",
	"pallet-collective/runtime-benchmarks",
	"pallet-ethereum-checked/runtime-benchmarks",
	"pallet-unified-accounts/runtime-benchmarks",
	"astar-primitives/runtime-benchmarks",
	"pallet-assets/runtime-benchmarks",
	"pallet-dapp-staking-v3/runtime-benchmarks",
	"pallet-inflation/runtime-benchmarks",
	"pallet-membership/runtime-benchmarks",
	"pallet-dynamic-evm-base-fee/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
	"pallet-chain-extension-assets/runtime-benchmarks",
	"pallet-contracts/runtime-benchmarks",
	"pallet-evm/runtime-benchmarks",
	"pallet-evm-precompile-assets-erc20/runtime-benchmarks",
	"pallet-evm-precompile-dapp-staking-v3/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
	"pallet-proxy/runtime-benchmarks",
	"pallet-scheduler/runtime-benchmarks",
	"pallet-static-price-provider/runtime-benchmarks",
	"pallet-sudo/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"pallet-vesting/runtime-benchmarks",
]
try-runtime = [
	"fp-self-contained/try-runtime",
	"log",
	"frame-try-runtime/try-runtime",
	"frame-executive/try-runtime",
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"pallet-aura/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-contracts/try-runtime",
	"pallet-collective-proxy/try-runtime",
	"pallet-dapp-staking-v3/try-runtime",
	"pallet-treasury/try-runtime",
	"pallet-inflation/try-runtime",
	"pallet-membership/try-runtime",
	"pallet-grandpa/try-runtime",
	"pallet-insecure-randomness-collective-flip/try-runtime",
	"pallet-sudo/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-utility/try-runtime",
	"pallet-vesting/try-runtime",
	"pallet-unified-accounts/try-runtime",
	"pallet-ethereum/try-runtime",
	"pallet-assets/try-runtime",
	"pallet-scheduler/try-runtime",
	"pallet-proxy/try-runtime",
	"pallet-preimage/try-runtime",
	"pallet-collective/try-runtime",
	"pallet-democracy/try-runtime",
	"pallet-dynamic-evm-base-fee/try-runtime",
	"pallet-evm/try-runtime",
	"pallet-ethereum-checked/try-runtime",
	"pallet-static-price-provider/try-runtime",
	"astar-primitives/try-runtime",
	"pallet-chain-extension-assets/try-runtime",
	"sp-runtime/try-runtime",
]

# Enable metadata hash generation at compile time for the `CheckMetadataHash` extension.
metadata-hash = ["substrate-wasm-builder?/metadata-hash"]

# A feature that should be enabled when the runtime should be built for on-chain
# deployment. This will disable stuff that shouldn't be part of the on-chain wasm
on-chain-release-build = ["metadata-hash"]
