[package]
name = "plasm-cli"
version = "1.6.1"
authors = ["Stake Technologies <devops@stake.co.jp>"]
description = "Plasm node implementation in Rust."
build = "build.rs"
edition = "2018"
default-run = "plasm-node"

[[bin]]
name = "plasm-node"
path = "bin/main.rs"
required-features = ["cli"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# thidr-party dependencies
codec = { package = "parity-scale-codec", version = "1.3" }
serde = { version = "1.0", features = [ "derive" ] }
structopt = { version = "0.3.8", optional = true }
jsonrpc-core = "15.0.0"
jsonrpc-pubsub = "15.0.0"
hex-literal = "0.2.1"
serde_json = "1.0"
futures = "0.3.4"
bs58 = "0.3"
log = "0.4.8"
hex = "0.4"

# primitives
sp-core = "2.0.0"
sp-runtime = "2.0.0"
sp-inherents = "2.0.0"
sp-consensus = "0.8.0"
sp-consensus-babe = "0.8.0"
sp-finality-grandpa = "2.0.0"
sp-transaction-pool = "2.0.0"

# client dependencies
sc-client-api = "2.0.0"
sc-chain-spec = "2.0.0"
sc-consensus = "0.8.0"
sc-executor = "0.8.0"
sc-transaction-pool = "2.0.0"
sc-network = "0.8.0"
sc-finality-grandpa = "0.8.0"
sc-offchain = "2.0.0"
sc-client-db = { version = "0.8.0", default-features = false }
sc-rpc = "2.0.0"
sc-basic-authorship = "0.8.0"
sc-service = "0.8.0"
sc-telemetry = "2.0.0"
sc-consensus-babe = "0.8.0"

# plasm-specific dependencies
lockdrop-oracle = { path = "./lockdrop-oracle" }
plasm-primitives = { path = "../primitives" }
plasm-runtime = { path = "../runtime" }
plasm-rpc = { path = "../rpc" }

# frame dependencies
frame-system = "2.0.0"
pallet-evm = "2.0.0"
pallet-transaction-payment = "2.0.0"
pallet-finality-tracker = "2.0.0"
pallet-contracts = "2.0.0"
pallet-dapps-staking = { path = "../../../frame/dapps-staking" }
pallet-plasm-lockdrop = { path = "../../../frame/plasm-lockdrop" }
pallet-ovm = { path = "../../../frame/ovm" }

# CLI-specific dependencies
sc-cli = { version = "0.8.0", optional = true }

[build-dependencies]
sc-cli = "0.8.0"
build-script-utils = { package = "substrate-build-script-utils", version = "2.0.0" }
lockdrop-oracle = { path = "./lockdrop-oracle" }
structopt = { version = "0.3.8", optional = true }
vergen = { version = "3.0.4", optional = true }

[features]
default = ["cli"]
cli = [
    "sc-cli",
    "sc-service/db",
    "structopt",
	"vergen",
]
