[package]
name = "plasm-cli"
version = "0.7.2"
authors = [
    "Takumi Yamashita <takumi@stake.co.jp>",
    "Aleksandr Krupenkin <aleksandr@stake.co.jp>",
]
description = "Plasm node implementation in Rust."
build = "build.rs"
edition = "2018"
default-run = "plasm-node"

[[bin]]
name = "plasm-node"
path = "bin/main.rs"
required-features = ["cli"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# thidr-party dependencies
codec = { package = "parity-scale-codec", version = "1.0.6" }
serde = { version = "1.0.102", features = [ "derive" ] }
futures = { version = "0.3.1", features = ["compat"] }
structopt = { version = "0.3.8", optional = true }
hex-literal = "0.2.1"
serde_json = "1.0"
log = "0.4.8"
jsonrpc-core = "14.0.3"

# primitives
sp-core = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sp-runtime = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sp-inherents = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sp-consensus = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sp-consensus-babe = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sp-finality-grandpa = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sp-transaction-pool = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }

# client dependencies
sc-client = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-client-api = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-chain-spec = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-transaction-pool = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-network = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-finality-grandpa = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-offchain = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-client-db = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master", default-features = false }
sc-rpc = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-basic-authorship = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-service = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-telemetry = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
sc-consensus-babe = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }

# plasm-specific dependencies
plasm-primitives = { path = "../primitives" }
plasm-executor = { path = "../executor" }
plasm-runtime = { path = "../runtime" }
plasm-rpc = { path = "../rpc" }

# frame dependencies
frame-system = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
pallet-timestamp = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
pallet-contracts = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master", default-features = false }
pallet-transaction-payment = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
pallet-finality-tracker = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
pallet-plasm-staking = { path = "../../../frame/plasm-staking" }

# CLI-specific dependencies
sc-cli = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master", optional = true }
frame-benchmarking-cli = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master", optional = true }

[dev-dependencies]
sc-service-test = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }

[build-dependencies]
sc-cli = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
frame-benchmarking-cli = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master", optional = true }
build-script-utils = { package = "substrate-build-script-utils", git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-master" }
structopt = { version = "0.3.8", optional = true }
vergen = { version = "3.0.4", optional = true }

[features]
default = ["cli"]
cli = [
    "sc-cli",
    "frame-benchmarking-cli",
    "sc-service/rocksdb",
    "structopt",
	"vergen",
]
