[package]
name = "pallet-plasm-lockdrop"
version = "0.1.0"
authors = ["Aleksandr Krupenkin <aleksandr@stake.co.jp>"]
edition = "2018"

[dependencies]
serde = { version = "1.0", optional = true, features = ["derive"] }
codec = { package = "parity-scale-codec", version = "1.3", default-features = false, features = ["derive"] }
libsecp256k1 = "0.3"
serde_json = "1.0"
ripemd160 = "0.8"
median = "0.3"
hex = "0.4"
sp-io = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
sp-std = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
sp-core = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
sp-runtime = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
sp-arithmetic = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
frame-system = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
frame-support = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
pallet-session = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }
pallet-timestamp = { git = "https://github.com/staketechnologies/substrate", default-features = false, branch = "plasm-dusty" }

[dev-dependencies]
hex-literal = "0.2.1"
pallet-balances = { git = "https://github.com/staketechnologies/substrate", branch = "plasm-dusty" }
sp-staking = { git = "https://github.com/staketechnologies/substrate", branch = "plasm-dusty" }
sp-keyring = { git = "https://github.com/staketechnologies/substrate", branch = "plasm-dusty" }
plasm-primitives = { path = "../../bin/node/primitives" }

[features]
default = ["std","pallet-session/historical"]
std = [
    "serde",
    "codec/std",
    "sp-io/std",
    "sp-std/std",
    "sp-core/std",
    "sp-runtime/std",
    "frame-system/std",
    "frame-support/std",
    "pallet-session/std",
    "pallet-timestamp/std",
]
