[package]
name = "pallet-plasma"
version = "1.7.0"
authors = ["Stake Technologies <devops@stake.co.jp>"]
edition = "2018"
license = "Apache-2.0"
homepage = "https://docs.plasmnet.io/"
repository = "https://github.com/staketechnologies/Plasm/"
description = "FRAME pallet to plasma solution on ovm"

[dependencies]
serde = { version = "1.0", optional = true, features = ["derive"] }
codec = { package = "parity-scale-codec", version = "2.0", features = ['derive'], default-features = false }
sp-core = { version = "3.0.0", default-features = false }
sp-runtime = { version = "3.0.0", default_features = false }
sp-arithmetic = { version = "3.0.0", default_features = false }
sp-io = { version = "3.0.0", default_features = false }
sp-std = { version = "3.0.0", default_features = false }
frame-support = { version = "3.0.0", default_features = false }
frame-system = { version = "3.0.0", default_features = false }
pallet-contracts = { version = "3.0.0", default_features = false }
pallet-ovm = { path = "../ovm", default_features = false }

[dev-dependencies]
hex-literal = "0.2.1"
lazy_static = { version = "1.4" }
sp-core = { version = "3.0.0" }
pallet-balances = "3.0.0"
pallet-timestamp = "3.0.0"
pallet-randomness-collective-flip = "3.0.0"
pallet-transaction-payment = "3.0.0"

[features]
default = ["std"]
std = [
    'serde',
    'codec/std',
    'sp-core/std',
    'sp-runtime/std',
    'sp-arithmetic/std',
    'sp-io/std',
    'sp-std/std',
    'frame-support/std',
    'frame-system/std',
    'pallet-ovm/std',
    'pallet-contracts/std',
]
