[package]
name = "plasm-runtime"
version = "0.9.9"
authors = [
    "Takumi Yamashita <takumi@stake.co.jp>",
    "Aleksandr Krupenkin <aleksandr@stake.co.jp>"
]
edition = "2018"
build = "build.rs"

[dependencies]
# third-party dependencies
serde = { version = "1.0.106", optional = true }
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
lazy_static = { version = "1.4", optional = true }
hex-literal = { version = "0.2", optional = true }

# primitives
plasm-primitives = { path = "../primitives", default-features = false }
sp-core = { version = "2.0.0-alpha.6", default-features = false }
sp-runtime = { version = "2.0.0-alpha.6", default-features = false }
sp-consensus-babe = { version = "0.8.0-alpha.6", default-features = false }
sp-offchain = { version = "2.0.0-alpha.6", default-features = false }
sp-api = { version = "2.0.0-alpha.6", default-features = false }
sp-inherents = { version = "2.0.0-alpha.6", default-features = false }
sp-block-builder = { version = "2.0.0-alpha.6", default-features = false }
sp-transaction-pool = { version = "2.0.0-alpha.6", default-features = false }
sp-std = { version = "2.0.0-alpha.6", default-features = false }
sp-version = { version = "2.0.0-alpha.6", default-features = false }
sp-session = { version = "2.0.0-alpha.6", default-features = false }

# frame dependencies
pallet-contract-operator = { path = "../../../frame/operator", default-features = false }
pallet-operator-trading = { path = "../../../frame/trading", default-features = false }
pallet-dapps-staking = { path = "../../../frame/dapps-staking", default-features = false }
pallet-plasm-rewards = { path = "../../../frame/plasm-rewards", default-features = false }
pallet-plasm-validator = { path = "../../../frame/plasm-validator", default-features = false }
frame-executive = { version = "2.0.0-alpha.6", default-features = false }
pallet-babe = { version = "2.0.0-alpha.6", default-features = false }
pallet-balances = { version = "2.0.0-alpha.6", default-features = false }
pallet-contracts = { version = "2.0.0-alpha.6", default-features = false }
pallet-contracts-primitives = { version = "2.0.0-alpha.6", default-features = false }
pallet-contracts-rpc-runtime-api = { version = "0.8.0-alpha.6", default-features = false }
pallet-finality-tracker = { version = "2.0.0-alpha.6", default-features = false }
pallet-grandpa = { version = "2.0.0-alpha.6", default-features = false }
pallet-indices = { version = "2.0.0-alpha.6", default-features = false }
pallet-randomness-collective-flip = { version = "2.0.0-alpha.6", default-features = false }
pallet-session = { version = "2.0.0-alpha.6", default-features = false, features = ["historical"] }
pallet-sudo = { version = "2.0.0-alpha.6", default-features = false }
frame-support = { version = "2.0.0-alpha.6", default-features = false }
frame-system = { version = "2.0.0-alpha.6", default-features = false }
frame-system-rpc-runtime-api = { version = "2.0.0-alpha.6", default-features = false }
pallet-timestamp = { version = "2.0.0-alpha.6", default-features = false }
pallet-transaction-payment = { version = "2.0.0-alpha.6", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { version = "2.0.0-alpha.6", default-features = false }

[dev-dependencies]
sp-io = "2.0.0-alpha.6"

[build-dependencies]
wasm-builder-runner = { package = "substrate-wasm-builder-runner", version = "1.0.5" }

[features]
default = ["std"]
std = [
    "serde",
    "codec/std",
    "lazy_static",
    "hex-literal",
    "sp-std/std",
    "sp-api/std",
    "sp-core/std",
    "sp-consensus-babe/std",
    "sp-runtime/std",
    "sp-session/std",
    "sp-version/std",
    "sp-block-builder/std",
    "sp-transaction-pool/std",
    "sp-inherents/std",
    "plasm-primitives/std",
    "frame-support/std",
    "frame-executive/std",
    "frame-system/std",
    "frame-system-rpc-runtime-api/std",
    "pallet-babe/std",
    "pallet-balances/std",
    "pallet-contracts/std",
    "pallet-contracts-primitives/std",
    "pallet-contracts-rpc-runtime-api/std",
    "pallet-finality-tracker/std",
    "pallet-grandpa/std",
    "pallet-indices/std",
    "sp-offchain/std",
    "pallet-plasm-rewards/std",
    "pallet-plasm-validator/std",
    "pallet-randomness-collective-flip/std",
    "pallet-session/std",
    "pallet-contract-operator/std",
    "pallet-operator-trading/std",
    "pallet-dapps-staking/std",
    "pallet-sudo/std",
    "pallet-timestamp/std",
    "pallet-transaction-payment/std",
    "pallet-transaction-payment-rpc-runtime-api/std",
]
