[package]
name = "pallet-price-aggregator"
version = "0.1.0"
license = "GPL-3.0-or-later"
description = "Price aggregation & moving average calculation support."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
log = { workspace = true }
parity-scale-codec = { workspace = true }
serde = { workspace = true }

astar-primitives = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
scale-info = { workspace = true }
sp-arithmetic = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

orml-traits = { workspace = true }

frame-benchmarking = { workspace = true, optional = true }

[dev-dependencies]
num-traits = { workspace = true }
pallet-balances = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"log/std",
	"sp-core/std",
	"scale-info/std",
	"serde/std",
	"sp-std/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-balances/std",
	"astar-primitives/std",
	"sp-arithmetic/std",
	"orml-traits/std",
	"frame-benchmarking?/std",
	"sp-runtime/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"astar-primitives/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"astar-primitives/try-runtime",
	"frame-system/try-runtime",
	"sp-runtime/try-runtime",
]
