name: crates
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: 'nightly-2020-02-02'
          targets: 'wasm32-unknown-unknown'
      - name: Checkout the source code
        uses: actions/checkout@master
      - name: Check targets are installed correctly
        run: rustup target list --installed
      - name: Install build tools
        run: cargo install --git https://github.com/alexcrichton/wasm-gc --force
      - name: Build doc
        run: cargo doc --all --all-features --no-deps
      - name: Push index.html
        run: echo "<meta http-equiv=\"refresh\" content=\"0; URL='./plasm_cli/index.html'\" />" >> ./target/docs/index.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
