name: Docker Image CI
on:
  push:
    branches:
      - master
    tags:
      - v*
jobs:
  native:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: 'nightly-2020-02-02'
          targets: 'wasm32-unknown-unknown'
      - name: Checkout the source code
        uses: actions/checkout@master
      - name: Check targets are installed correctly
        run: rustup target list --installed
      - name: Install build tools
        run: cargo install --git https://github.com/alexcrichton/wasm-gc --force
      - name: Build optimized binary
        run: cargo build --release --verbose --target-dir third-party/docker/target-debian
      - name: Get the version
        id: get_version
        run: echo ::set-output name=tag::${GITHUB_REF#refs/tags/v}
      - uses: azure/docker-login@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Docker build and push
        run: |
          TAG=${{ steps.get_version.outputs.tag }}
          if [ -n $TAG ]; then TAG='latest'; fi
          echo ${{ steps.get_version.outputs.tag }}
          echo $TAG
          cd third-party/docker
          docker build . -t staketechnologies/plasm-node:$TAG
          docker push staketechnologies/plasm-node:$TAG
