on: [push, pull_request]

name: Integration

jobs:
  native:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: 'nightly-2021-06-29'
        targets: 'wasm32-unknown-unknown'

    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Check targets are installed correctly
      run: rustup target list --installed

    - name: Run all tests
      run: cargo test --all

    - name: Build optimized binary
      run: cargo build --release

    - uses: actions/upload-artifact@v2
      with:
        name: plasm-${{ matrix.os }}
        path: target/release/plasm
        if-no-files-found: error

  nix:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-21.05
    - run: nix-shell third-party/nix/shell.nix --run "cargo build --release"

  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: 'nightly-2021-06-29'
        targets: 'wasm32-unknown-unknown'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: staketechnologies/astar
        tag-custom: dusty
        tag-sha: true # add git short SHA as Docker tag

    - name: Checkout the source code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Build optimized binary
      run: |
        cargo build --locked --release
        cp target/release/plasm third-party/docker

    - name: Build & Push docker image
      uses: docker/build-push-action@v2
      with:
        context: third-party/docker 
        platforms: linux/amd64
        labels: ${{ steps.docker_meta.outputs.labels }}
        tags: ${{ steps.docker_meta.outputs.tags }}
        push: true