name: Release Client Build
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Tag name (format: v0.0.0)'
        required: true
        type: string

permissions:
  contents: write

env:
  RELEASE_TAG: ${{ github.ref_type == 'tag' && github.ref_name || inputs.release_tag }}
jobs:
  checks-and-tests:
    runs-on: [self-hosted, Linux, X64]
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h

      - name: Checkout the source code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Install deps
        run: sudo apt -y install protobuf-compiler

      - name: Install & display rust toolchain
        run: rustup show

      - name: Check targets are installed correctly
        run: rustup target list --installed

      - name: Install cargo-nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Check all features compilation
        run: cargo check --features try-runtime,runtime-benchmarks --locked

      - name: Run all tests
        run: make test-all

  native-linux:
    needs: checks-and-tests
    runs-on: [self-hosted, Linux, X64]
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          # - aarch64-unknown-linux-gnu

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Install deps
        run: sudo apt -y install protobuf-compiler lld

      - name: aarch64 setup
        if: contains(matrix.target, 'aarch64')
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y gcc-multilib g++-multilib
          sudo apt install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

          mkdir -p .cargo
          touch .cargo/config
          printf '[target.aarch64-unknown-linux-gnu]\nlinker = "aarch64-linux-gnu-gcc"' >> .cargo/config

      - name: x86_64 setup
        if: contains(matrix.target, 'x86_64')
        run: |
          mkdir -p .cargo
          touch .cargo/config
          printf '[target.x86_64-unknown-linux-gnu]\nrustflags = ["-Clink-arg=-fuse-ld=lld"]' >> .cargo/config

      - name: Install & display rust toolchain
        run: rustup show

      - name: Add aarch64 target
        if: contains(matrix.target, 'aarch64')
        run: rustup target add ${{ matrix.target }}

      - name: Check targets are installed correctly
        run: rustup target list --installed

      - name: Build optimized binary
        run: cargo build --profile production --target ${{ matrix.target }} --locked --bin astar-collator

      - name: Set artifact name
        env:
          TARGET: ${{ matrix.target }}
        id: artifact-name
        run: echo "name=astar-ubuntu-latest-${TARGET%%-*}" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-name.outputs.name }}
          path: target/${{ matrix.target }}/production/astar-collator

  native-macos:
    needs: checks-and-tests
    runs-on: macos-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Install deps
        run: brew install protobuf

      # Temporary dirty fix
      # https://github.com/actions/runner-images/issues/10511
      - name: Disk Cleanup
        run: |
          xcrun simctl delete all || true
          sudo rm -rf ~/Library/Developer/CoreSimulator/Caches/* || true
          sudo rm -rf /Users/runner/Library/Android/sdk || true
          sudo rm -rf /Applications/Xcode_14.3.1.app || true
          sudo rm -rf /Applications/Xcode_15.0.1.app || true
          sudo rm -rf /Applications/Xcode_15.1.app || true
          sudo rm -rf /Applications/Xcode_15.2.app || true
          sudo rm -rf /Applications/Xcode_15.3.app || true
          df -h

      - name: Install & display rust toolchain
        run: rustup show

      - name: Check targets are installed correctly
        run: rustup target list --installed

      - name: Build optimized binary
        run: cargo build --locked --profile production --bin astar-collator

      - uses: actions/upload-artifact@v4
        with:
          name: astar-macOS-latest-x86_64
          path: target/production/astar-collator

  docker:
    needs: native-linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: staketechnologies/astar-collator
          tags: |
            type=raw,value=shiden
            type=sha,format=short

      - name: Download pre-built linux collator binary
        uses: actions/download-artifact@v4
        with:
          name: astar-ubuntu-latest-x86_64

      - name: Make binary executable and copy it to docker folder
        run: chmod +x astar-collator && cp astar-collator third-party/docker

      - name: Build & Push docker image
        uses: docker/build-push-action@v6
        with:
          context: third-party/docker
          platforms: linux/amd64
          labels: ${{ steps.docker_meta.outputs.labels }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          push: true

  publish-release-draft:
    needs: [native-linux, native-macos, docker]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Validate RELEASE_TAG
        run: |
          if [[ ! "$RELEASE_TAG" =~ ^runtime-[0-9]+$ ]]; then
            echo "Invalid tag format: $RELEASE_TAG"
            exit 1
          fi

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Get the latest client release
        id: latest-release
        # We're making an assumption that the latest client release will be within the last 30 releases
        run: |
          latest_client_tag=$(curl -s https://api.github.com/repos/AstarNetwork/Astar/releases | \
           jq -r 'map(select(.name | test("^v\\d+\\.\\d+\\.\\d+$"; "i")))[0] | .tag_name')
          echo "latest_client_tag=$latest_client_tag" >> $GITHUB_OUTPUT

      - name: Generate Release Body
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: generate-release-body
        run: |
          cd .github/scripts
          yarn
          yarn -s run ts-node generate-release-body.ts generate \
            --owner "${{ github.repository_owner }}" \
            --repo "$(basename ${{ github.repository }})" \
            --from "${{ steps.latest-release.outputs.latest_client_tag }}" \
            --to "$RELEASE_TAG" \
            --type client \
            > ../../body.md

      - name: Create Release Draft
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$RELEASE_TAG" \
            --target "$GITHUB_SHA" \
            --draft \
            --title "$RELEASE_TAG" \
            --notes-file body.md


  upload-binaries:
    needs: publish-release-draft
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["ubuntu", "macOS"]
        # arch: ["x86_64", "aarch64"]
        arch: ["x86_64"]
        exclude:
          - os: macOS
            arch: aarch64
    steps:
      - name: Create download folder
        run: |
          mkdir -p ${{ matrix.os }}-${{ matrix.arch }}-bin

      - name: Download pre-built collator binary
        uses: actions/download-artifact@v4
        with:
          name: astar-${{ matrix.os }}-latest-${{ matrix.arch }}
          path: ${{ matrix.os }}-${{ matrix.arch }}-bin

      - name: Make binary executable and tar gzip
        run: |
          cd ${{ matrix.os }}-${{ matrix.arch }}-bin
          chmod +x astar-collator
          tar zcvf astar-collator.tar.gz astar-collator

      - name: Upload binary artifact
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          asset_dir="${{ matrix.os }}-${{ matrix.arch }}-bin"
          asset_name="astar-collator-${RELEASE_TAG}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz"

          mv "$asset_dir/astar-collator.tar.gz" "$asset_dir/$asset_name"
          gh release upload "$RELEASE_TAG" "$asset_dir/$asset_name"

  chain-sync-smoke:
    needs: native-linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chain: ["astar", "shiden", "shibuya"]

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5

      - name: Download pre-built collator binary
        uses: actions/download-artifact@v4
        with:
          name: astar-ubuntu-latest-x86_64
          path: target/release

      - name: Sync chain ${{ matrix.chain }}
        run: |
          chmod +x target/release/astar-collator
          ./scripts/sync-smoke.sh ${{ matrix.chain }}

  zombienet-smoke:
    needs: native-linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chain: ["astar-dev", "shiden-dev", "shibuya-dev"]

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v5

      - name: Download pre-built collator binary
        uses: actions/download-artifact@v4
        with:
          name: astar-ubuntu-latest-x86_64
          path: third-party/zombienet

      - name: Setup
        run: chmod +x third-party/zombienet/astar-collator

      - name: Setup zombienet
        working-directory: third-party/zombienet
        run: ./setup.sh

      - name: ${{ matrix.chain }} build blocks
        working-directory: third-party/zombienet
        env:
          CHAIN: ${{ matrix.chain }}
        run: zombienet -p native test smoke.zndsl
