[package]
name = "oracle-benchmarks"
version = "0.1.0"
license = "GPL-3.0-or-later"
description = "Temporary pallet to benchmark orml-oracle. Should be handled by orml-oracle itself in the future."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
log = { workspace = true }
parity-scale-codec = { workspace = true }
serde = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
scale-info = { workspace = true }
sp-arithmetic = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

orml-oracle = { workspace = true }
orml-traits = { workspace = true }

astar-primitives = { workspace = true }

frame-benchmarking = { workspace = true, optional = true }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"log/std",
	"scale-info/std",
	"serde/std",
	"sp-std/std",
	"frame-support/std",
	"frame-system/std",
	"astar-primitives/std",
	"sp-arithmetic/std",
	"orml-traits/std",
	"orml-oracle/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"astar-primitives/runtime-benchmarks",
]
try-runtime = ["frame-support/try-runtime"]
