[package]
name = "pallet-plasm-rewards"
version = "0.1.0"
authors = [
    "Takumi Yamashita <takumi@stake.co.jp>",
    "Aleksandr Krupenkin <aleksandr@stake.co.jp>"
]
edition = "2018"

[dependencies]
serde = { version = "1.0", optional = true }
codec = { package = "parity-scale-codec", version = "1.3", features = ['derive'], default-features = false }
sp-runtime = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }
sp-arithmetic = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }
sp-io = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }
sp-std = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }
frame-support = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }
pallet-session = { git = "https://github.com/staketechnologies/substrate.git", branch = "plasm-dusty", default-features = false }
frame-system = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }
pallet-staking = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }
sp-staking = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty", default_features = false }

[dev-dependencies]
hex-literal = "0.2.1"
sp-core = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty" }
pallet-balances = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty" }
pallet-timestamp = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty" }
pallet-randomness-collective-flip = { git = 'https://github.com/staketechnologies/substrate.git', branch = "plasm-dusty" }

[features]
default = ["std"]
std = [
    'serde',
    'codec/std',
    'sp-runtime/std',
    'sp-arithmetic/std',
    'sp-io/std',
    'sp-std/std',
    'frame-support/std',
    'pallet-session/std',
    'frame-system/std',
    'pallet-staking/std',
    'sp-staking/std',
]
